// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Загальні стилі для усього сайту
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 398px;
	height: 87px;
	background-image: url('@img/ui/btn.png');

	/* Main-text-2 */
	color: #372923;
	font-size: 24px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	text-transform: uppercase;
	// color: linear-gradient(269deg, #372923 98.01%, #1C142C 105.91%, #6D4D3E 108.37%, #3F1B0D 114.51%);
}

h1, h2 {
	color: #fff;
	text-shadow: 0 0 6px rgb(0, 22, 161);
}

h2 {
	font-weight: 800;
	font-size: 50px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
