.community {
  position: relative;
  overflow: hidden;
  padding: 110px 0 120px;
  color: #fff;

  &__bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    background: url("@img/community/bg.jpg") center/cover no-repeat;
  }

  /* === СЦЕНА === */
  &__scene {
    position: absolute;
    left: -120px;
    /* как у тебя было с орком */
    bottom: -40px;
    width: 520px;
    height: 720px;
    z-index: 1;
    pointer-events: none;
  }

  &__model {
    width: 100%;
    height: 100%;
    pointer-events: none;

    /* визуал */
    filter: drop-shadow(0 40px 80px rgba(0, 0, 0, .65));
  }

  &__content {
    position: relative;
    z-index: 2;
  }
}