.header {
  height: var(--header-h);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.topnav__list {
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  /* 2 слева, лого, 2 справа */
  align-items: center;
  column-gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.topnav__item {
  text-align: center;
  /* пункты будут ровно в своих колонках */
}

.topnav__link {
  color: var(--Color-3, #FFF);
  text-shadow: 0 0 4px rgba(0, 22, 161, 0.70);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.topnav__item--logo {
  text-align: center;
}

.topnav__logo img {
  display: block;
  height: 244px;
  /* подгони под макет */
  width: auto;
}