<header data-fls-header data-fls-header-scroll data-fls-header-scroll-show class="header">
	<div class="header__container">
	</div>
</header>

<header class="header">
	<div class="container">
		<nav class="topnav" aria-label="Главное меню">
			<ul class="topnav__list">
				<li class="topnav__item"><a class="topnav__link" href="#world">МИР</a></li>
				<li class="topnav__item"><a class="topnav__link" href="#mods">МОДИФИКАЦИИ</a></li>

				<li class="topnav__item topnav__item--logo">
					<a class="topnav__logo" href="/" aria-label="На главную">
						<img src="@img/logo.png" alt="WOW Circle">
					</a>
				</li>

				<li class="topnav__item"><a class="topnav__link" href="#raids">РЕЙДЫ</a></li>
				<li class="topnav__item"><a class="topnav__link" href="#content">КОНТЕНТ</a></li>
			</ul>
		</nav>
	</div>
</header>