/* footer отдельно, но визуально в одном стиле */
.footer {
  position: relative;
  padding: 55px 0;
  &__container {
  }


  // .footer__nav
  &__nav {
    width: 100%;
  }

  // .footer__list
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }


  &__link {
    // color: inherit;
    text-decoration: none;
    transition: opacity 180ms ease;

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.02em;
  }
}

// body {
//   color: red;
// }